@import url('https://fonts.googleapis.com/css?family=Alegreya SC');

#intro-container{
    height: 100vh;
    background-color: rgb(255, 230, 230);
}
#name{
    font-size: 120px;
    font-family: "Alegreya SC";
    padding: 150px 0px 0px 0px;
}

#desc{
    font-size: 20px;
}

#start-scan-container{
    padding: 40px 0px 0px 0px;
}


/**************************************** myspending css bc im lazy ************************************/
#pics-container{
    height: 100vh;
    background-color: rgb(255, 255, 204);
}

#food{
    height: 20px;
    width: 20px;
    background-image: url(../../src/images/food.png);
    background-size: cover;
    position: fixed;
    top: 350px;
    left: 300px;
}

#utilities{
    height: 20px;
    width: 20px;
    background-image: url(../../src/images/utilities.jpg);
    background-size: contain;
    position: fixed;
    top: 200px;
    left: 400px;
}

#clothing{
    height: 20px;
    width: 20px;
    background-image: url(../../src/images/clothes.png);
    background-size: contain;
    position: fixed;
    top: 200px;
    left: 600px;
}

#transportation{
    height: 20px;
    width: 20px;
    background-image: url(../../src/images/transportation.png);
    background-size: contain;
    position: fixed;
    top: 350px;
    left: 700px;
}

#home{
    height: 20px;
    width: 20px;
    background-image: url(../../src/images/home.png);
    background-size: contain;
    position: fixed;
    top: 500px;
    left: 600px;
}

#misc{
    height: 20px;
    width: 20px;
    background-image: url(../../src/images/misc.jpeg);
    background-size: contain;
    position: fixed;
    top: 500px;
    left: 400px;
}

#update{
    height: 20px;
}
