@import url('https://fonts.googleapis.com/css?family=Alegreya SC|Dosis');

#intro-container{
    height: 100vh;
    background-color: rgb(255, 230, 230);
}
#name{
    font-size: 120px;
    font-family: "Alegreya SC";
    padding: 150px 0px 0px 0px;
}

#desc{
    font-size: 20px;
}

#start-scan-container{
    padding: 40px 0px 0px 0px;
}


/**************************************** myspending css bc im lazy ************************************/
.pics-container{
    height: 100vh;
    background-color: rgb(204, 255, 255);    
    font-family: 'Dosis'; 
}

.emoji{
    height: 50px;
    width: 50px;
}

.semoji{
    height: 20px;
    width: 20px;
}

.ten-container{
    height: 220px;
    width: 250px;
    background-color: rgb(0, 179, 179);
    padding-left: 40px;
    font-size: 20px;
}
