<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">        
        <link rel="stylesheet" href="../../public/css/style.css">
        <link rel="stylesheet" href="../../public/css/formcss.css">

    </head>
    <body id='intro-container'>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Scan Receipt<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="myspending.html">My Spending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Calendar</a>
                </li>
                </ul>
            </div>
        </nav>

        <div id = "scan-container" class = "text-center">
            <div><h1>Scan Receipt</h1></div>
            <div> OR </div>
            <form id="contactForm" style="display:inline-block;border:solid;padding:10px;">
                <div>
                    <h1>Enter Receipt</h1>
                </div>
                <div>
                        <div class="form-group">
                            <label style='font-size:20px'> Item Purchased</label>
                            <input type="text" class="form-control item" id="exampleFullName" placeholder="Enter Full Name" required>
                        </div>
                        <div class="form-group">
                            <label style='font-size:20px'> Price</label>
                            <input type="text" class="form-control email" id="exampleEmail" placeholder="Enter Price" required>
                        </div>
                        <div class="form-group">
                            <label style='font-size:20px'> Date Purchased</label>
                            <input type="text" class="form-control subject" id="exampleSubject" placeholder="Enter Data Purchased" required>
                        </div>
                        <div class="form-group">
                            <label style='font-size:20px'> Notes</label>
                            <textarea class="form-control message" id="exampleMessage" placeholder="Notes" cols="30" rows="10" required></textarea>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                
        </form>
        </div>

        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
        <script src="../js/submit.js"></script>
    </body>
</html>